<!doctype html>
<head>
<title>Durarara chat_^-^</title>
<style>
   .img_avatar {
   	padding: 20px;
   	width: 100px;
   	height: 100px;
   }
   .text {
    text-align:  center;
   }
   .button_style {
   	background: black;
   	width: 150px;
   	height: 30px;
   	border: 2px solid white;
   	border-radius: 20px;
   }
   .img_select_avatar
   {
   	border: 10px solid white;
   	border-radius: 20px;
   	padding: 10px;
   	width: 100px;
   	height: 100px;

   }

</style>
<script type="text/javascript">
 		var old_val = "";
        function select_avatar(sel_ava)
        {
        	if (old_val == sel_ava || old_val == "")
        	{
        		old_val = sel_ava;
        		document.getElementById(sel_ava).className = "img_select_avatar";
        		document.getElementById("hidden_avatar").value = sel_ava;
        	}
        	else
        	{
        		document.getElementById(sel_ava).className = "img_select_avatar";
        		document.getElementById(old_val).className = "img_avatar";
        		old_val = sel_ava;
        		document.getElementById("hidden_avatar").value = sel_ava;
        	}
        }
</script>
</head>
<body bgcolor = "black">
<p class = "text">
	<font color = "red" size = "10px">{{err_no}}</font>
</p>
<p class = "text">
<font color = "white" size = "10px">Выберите аватар и укажите логин</font>
<br>
<br>
<br>
<font color = "white" size = "5px">Логин</font>
</p>
<form action="/prepare" method="post">
<p class = "text">
<input name = "login" type="text" size = "20">
<input name = "avatar" id = "hidden_avatar" type="hidden" size = "1">
</p>
</p>
<br>
<br>
<table align="center">
  <tr>
  {% for avatar_row in avatars_rows %}
        <tr>
        	<td>
        	{% for avatar in avatar_row %}
        	<img onclick="select_avatar(id)" id = "{{ avatar }}" class = "img_avatar" src="/avatars/{{ avatar }}"/>
        	{% endfor %}
        	</td>
        </tr>
  {% endfor %}
  </tr>
</table>
<br>
<p class = "text">
<div style = "align: middle;height: 30px;margin:0 auto;width: 150px;">
  <button <button class="button_style" type="submit" name="check"><p style = "color: white;margin: 5px;">SELECT</p></button>
  </div>
</p>
</form>
</body>
</html>
