<!doctype html>
<head>
<title>Durarara chat =)</title>
<style>
   .text {
    text-align:  center;
   }
   .img_center {
   	align: center;
   }
   .button_style {
   	background: black;
   	width: 150px;
   	height: 30px;
   	border: 2px solid white;
   	border-radius: 20px;
   }
  </style>
</head>
<body bgcolor = "black">
<p class = "text">
<br>
<img class = "img_center" src="4.jpg"/>
<br>
</p>
<p class = "text">
	<font color = "red" size = "10px">{{err_no}}</font>
</p>
<div class = "text">
<form action="/" method="post">
 <input name = "password" type="password" size="30">
 <p>
 <div style = "	height: 30px;">
  <button class="button_style" type="submit" name="check" value = "ENTER"><p style = "color: white;margin: 5px;">ENTER</p></button>
  </div>
  </p>
</form>
</div>
</body>
</html>
